---
layout: default
title: Aethermonolog Musik Podcast | Home | aethermonolog.de
---

<article>

  {% for post in site.categories.artikel %}

  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
  </h2>

{% include post-meta-data.html %}

 {% include post-display.html %}

  <div class="comment-count">
    <i class="ico-comment"></i><a rel="nofollow" href="{{ post.url }}#disqus_thread">Lädt...</a>
  </div>

  <hr>
  {% endfor %}
</article>

<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="previous" rel="nofollow">&laquo;</a>
    {% else %}
    <a href="/posts/{{ paginator.previous_page }}" class="previous" rel="nofollow">&laquo;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/posts/{{ paginator.next_page }}" class="next" rel="nofollow">&raquo;</a>
  {% endif %}
</nav>

{% include social-block.html %}
