---
layout: default
title: Aethermonolog Musik Podcast | aethermonolog.de
---

<article>

  {% for post in paginator.posts %}

  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
  </h2>

  <p>{{ post.excerpt }}</p>

  {% if post.file %}
    <div class="audio-player">
      <audio src="{{ post.file }}" preload="none" controls="controls" type="audio/mp3">
        Your browser doesn't support the <code>audio</code> element.
      </audio>
      <a href="{{ post.url }}" class="button">Mehr lesen</a>
    </div>
  {% endif %}

  {% if post.soundcloud %}
  {{ post.soundcloud }}
  {% endif %}

  <div class="comment-count">
    <i class="ico-comment"></i><a rel="nofollow" href="{{ post.url }}#disqus_thread">Lädt...</a>
  </div>

  <hr>
  {% endfor %}
</article>

{% include newsletter.html %}

<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="previous" rel="nofollow">&laquo; Neuere</a>
    {% else %}
    <a href="/posts/{{ paginator.previous_page }}" class="previous" rel="nofollow">&laquo; Neuere</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/posts/{{ paginator.next_page }}" class="next" rel="nofollow">Ältere &raquo;</a>
  {% endif %}
</nav>

{% include social-block.html %}
