  {% for post in paginator.posts limit:10 %}

    <!-- Startpage single article view -->

  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
  </h2>

    {% include post-meta-data.html %}

    <span class="{{ post.tags }}"></span>

      {% if post.file %}
        <div class="audio-player">
          <audio preload="none">
            <source src="{{ post.file_itunes }}" type="audio/mp4">
            <source src="{{ post.file }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      {% endif %}

    {{ post.content | truncatewords: 50 }}

    </span>

    <div id="article-interaction">
        <div class="comment-count">
          <i class="ico-comment"></i><a rel="nofollow" href="{{ post.url }}#disqus_thread">Lädt...</a>
        </div>

        <a href="{{ post.url }}" class="read-more">... weiterlesen</a>
    </div>

<div class="clear"></div>

<hr>

{% endfor %}

  <nav class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="previous" rel="nofollow">&laquo; zurück</a>
      {% else %}
      <a href="/posts/{{ paginator.previous_page }}" class="previous" rel="nofollow">&laquo; zurück</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/posts/{{ paginator.next_page }}" class="next" rel="nofollow">weiter &raquo;</a>
    {% endif %}
  </nav>
