<!-- Page Footer-->
<footer>
  <div class="content-wrapper">
    <div class="row">
      <div class="footer-col">
        <h3>Meine Musik</h3>
        <a target="blank" href="https://itunes.apple.com/de/artist/klartexter/id1074278138" class="store-badge">
          <img class="lazyload" data-src="/images/store-itunes.svg" alt="Musik von Klartexter auf iTunes anhören und kaufen" />
        <a target="blank" href="https://play.google.com/store/music/artist/Klartexter?id=A5uu5r7o7e5valoe3glclliia5q" class="store-badge">
          <img class="lazyload" data-src="/images/store-google.svg" alt="Musik von Klartexter bei Google Play anhören und Kaufen" />
      </div>
      <div class="footer-col">
        <h3>Seiten</h3>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/podcasts/">Podcasts</a></li>
      </div>
      <div class="footer-col">
        <h3>About</h3>
        <li><a href="/about/">Über mich</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
      </div>
      <div class="footer-col">
        <div class="social-footer">
          {% include modules/social-icons.html %}
        </div>
      </div>

      <div class="clear"></div>

      <br />
      <br />

      <div id="notes">
        <h6>Copyright Informationen:</h6>
        <p>* Stand der Bewertungen am 08. Juni 2017. Änderungen sind vorbehalten. Das Logo von Podcast.de und iTunes sind Markenzeichen ihrer jeweiligen Eigentümer und hier als Quelle genannt. Alle gezeigten Bilder erscheinen (sofern nicht anders gekennzeichnet) unter Verwendung einer CC0 Lizenz.</p>
      </div>
    </div>
  </div>
</footer>
