<!-- Footer -->
<footer>
    <!-- iTunes -->
    <a target="blank" href="http://itunes.apple.com/de/podcast/aethermonolog.de/id1067599238" class="itunes">
      <picture>
        <source srcset="/images/available-on-itunes.jpg, /images/available-on-itunes-2x.jpg 2x">
        <img src="/images/available-on-itunes.jpg" alt="aethermonolog auf iTunes anhören und abonieren">
      </picture>
    </a>

    <!-- Social Icons -->
    <div class="social-icons">
      <h4>Du erreichst mich hier:</h4>
      <!-- Twitter -->
      {% if site.owner.twitter %}<a href="//twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name }} on Twitter" target="_blank" id="twitter"><i class="ico-twitter-round"></i></a>{% endif %}
      <!-- Facebook -->
      {% if site.owner.facebook %}<a href="//facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name }} on Facebook" target="_blank" id="facebook"><i class="ico-facebook-round"></i></a>{% endif %}
      <!-- Google Plus -->
      {% if site.owner.google.plus %}<a href="https://plus.google.com/{{ site.owner.google.plus }}" rel="publisher" target="_blank" id="google"><i class="ico-googleplus-round"></i></a>{% endif %}
      <!-- Soundcloud -->
      {% if site.owner.soundcloud %}<a href="//soundcloud.com/{{ site.owner.soundcloud }}" title="{{ site.owner.name }} on Soundcloud" target="_blank" id="soundcloud"><i class="ico-soundcloud-round"></i></a>{% endif %}
      <!-- GitHub -->
      {% if site.owner.github %}<a href="//github.com/{{ site.owner.github }}" title="{{ site.owner.name }} on Github" target="_blank" id="github"><i class="ico-github-round"></i></a>{% endif %}
      <!-- RSS -->
      <a target="blank" href="https://feedpress.me/aethermonolog" title="Atom/RSS feed" id="rss"><i class="ico-rss-round"></i></a>
      <!-- Kontakt -->
      <a href="{{ site.url }}/kontakt/" title="schicke eine Nachricht" id="ask-me"><i class="ico-comment"></i></a>
    </div>

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</footer>
