  <!-- Start Audio Player -->
  <link href="/assets/podlove/css/pwp-light-gray.css" rel="stylesheet" media="screen" type="text/css" />
  <link href="/assets/podlove/css/vendor/progress-polyfill.css" rel="stylesheet" media="screen" type="text/css" />
  <style>.controlbar-wrapper {display: none !important;}</style>

    <audio controls="controls">
        <source src="{{ post.file_itunes }}" type="audio/mp4">
        <source src="{{ post.file }}" type="audio/mpeg">
    </audio>
    <script src="/assets/podlove/js/vendor/html5shiv.js"></script>
    <script src="/assets/podlove/js/vendor/jquery.min.js"></script>
    <script src="/assets/podlove/js/vendor/progress-polyfill.min.js"></script>
    <script src="/assets/podlove/js/podlove-web-player.min.js"></script>
    <script>
        $('audio').podlovewebplayer({
            poster: '{{ site.url }}/images/itunes.jpg',
            title: '{{ post.title }}',
            permalink: '{{ post.url }}',
            publicationDate: '{{ post.date }}',
            license: {
                "name": "Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Germany License",
                "url": "http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/de\/deed.en"
            },
            chapters: [
                {
                    start: '00:00:00.000',
                    title: '{{ post.title }}'
                }
            ],
            summary: '{{ post.summary }}',
            downloads: [{
                name: 'MP3', size: '{{ post.length }}',
                url: '{{ post.file }}',
                dlurl: '{{ post.file }}'
            }, {
                name: 'MP4', size: '{{ post.length }}',
                url: '{{ post.file_itunes }}',
                dlurl: '{{ post.file_itunes }}'
            }],
            show: {
                title: '',
                poster: '{{ site.url }}/images/itunes.jpg',
                url: '{{ site.url }}'
            },
            alwaysShowHours: false,
            width: 'auto',
            summaryVisible: false,
            timecontrolsVisible: false,
            sharebuttonsVisible: false,
            chaptersVisible: true
        });
    </script>
