
<!-- Top Navigation -->
<div id="top-navigation">
  <div class="navigation-wrapper">

  <a class="navigation-logo" href="/">
    <div id="logo-container"></div>
  </a>

  <nav id="nav-main">
    <ul>
      <li><a id="nav-home" href="/">Podcast</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/kontakt/">Kontakt</a></li>
      <li><a href="http://eepurl.com/bJAmRv" target="blank" id="navigation-cta"> Newsletter</a></li>
    </ul>
  </nav>

  <div id="nav-trigger">
    <span class="button">☰ Menu</span>
  </div>
  <nav id="nav-mobile"></nav>

  </div>
</div>
