<div class="newsletter">
<img src="/images/newsletter.png" /><h2>Keine Sendung verpassen:</h2>

		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="//athermonolog.us10.list-manage.com/subscribe/post?u=51fa74881242eaa159eb6b9c0&amp;id=096e160dfd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
		        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Deine Mail Adresse..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Deine Mail Adresse'">
		    </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_51fa74881242eaa159eb6b9c0_e577d4f7de" tabindex="-1" value=""></div>

				<input type="submit" value="Abschicken" name="subscribe" id="mc-embedded-subscribe" class="button">

		  </div>
      <div id="mce-responses">
           <div class="response" id="mce-error-response" style="display:none"></div>
           <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
		</form>
		</div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
		<hr>
</div>
