<!-- Date and Author -->
<span id="date">
  <i class="ico-time"></i>
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}M&auml;rz
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
  {% endcase %}
  {{ page.date | date: "%Y" }}
  &nbsp;
  <i class="ico-edit"></i>
  {{ site.author }}
  <span id="tags">
    <a href="{{ site.url }}{{ page.tags }}">{{ page.tags }}</a>
  </span>
</span>

<span id="interact">

  <!-- Facebook Button -->
  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

  <!-- Flattr Button -->
  <a class="flattr-button" target="blank" href="https://flattr.com/submit/auto?user_id=dyscribe&url={{ site.url }}{{ page.url }}&title={{ page.title | uri_escape }}&description={{ page.excerpt | uri_escape }}&language=de_DE&category=audio">
    <img src="/images/flattr-badge.png" alt="Flattr Badge"/>
  </a>

</span>
