<link href="/assets/podlove/podlove-web-player.css" rel="stylesheet" media="screen" type="text/css" />
<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/podlove/podlove-web-player.js"></script>

<audio id="player" preload="none">
	<source src="{{ post.file_itunes }}" type="audio/mp4"></source>
	<source src="{{ post.file }}" type="audio/mpeg"></source>
</audio>

	<script>
		$('#player').podlovewebplayer({
			poster: '{{ site.url }}/images/cover.jpg',
			title: '{{ post.title }}',
			permalink: '{{ post.url }}',
			summary: '{{ post.summary }}',
			downloads:
				[{
					"name": "MPEG-1 Audio Layer III (MP3) High Quality",
					"size": "{{ post.length }}",
					"url": "{{ post.file }}",
					"dlurl": "{{ post.file }}"
				},{
					"name": "mp4",
					"size": "{{ post.length }}",
					"url": "{{ post.file_itunes }}",
					"dlurl": "{{ post.file_itunes }}"
				}],
			duration: '{{ post.duration }}',
			alwaysShowHours: true,
			startVolume: 0.8,
			width: 'auto',
			hidedownloadbutton: false,
			summaryVisible: false,
			timecontrolsVisible: false,
			sharebuttonsVisible: false,
			chaptersVisible: false
		});
	</script>
