
<audio id="player">
	<source src="{{ post.file_itunes }}" type="audio/mp4"></source>
	<source src="{{ post.file }}" type="audio/mpeg"></source>
</audio>

<script>
$( document ).ready(function() {
	console.log( "getting podlove" );
	$script.ready('podlove', function() {
		poster: `{{ site.url }}/images/cover.jpg`,
		title: '{{ site.post.title }}',
		permalink: '{{ site.url }}',
		subtitle: '{{ site.post.summary }}',
		summary: '{{ site.post.summary }}',
		downloads: [{"name": "MPEG-1 Audio Layer III (MP3) High Quality","size": 58725,"url": "samples/podlove-test-track.mp3","dlurl": "samples/podlove-test-track.mp3"},{"name": "ogg","size": 50494,"url": "samples/podlove-test-track.ogg","dlurl": "samples/podlove-test-track.mp3"},{"name": "mp4","size": 78328,"url": "samples/podlove-test-track.mp4","dlurl": "samples/podlove-test-track.mp4"},{"name": "opus","size": 37314,"url": "samples/podlove-test-track.opus","dlurl": "samples/podlove-test-track.opus"}],
		duration: '{{ post.duration }}',
		alwaysShowHours: true,
		startVolume: 0.8,
		width: 'auto',
		hidedownloadbutton: false,
		summaryVisible: false,
		timecontrolsVisible: false,
		sharebuttonsVisible: false,
		chaptersVisible: false
		});
	});
});
</script>
