<!-- Select Article Previews to display -->
<span class="{{ post.tags }}">

  {{ post.content | truncate: 200 }}

    <div class="audio-player">
      {% if post.file %}
        <audio src="{{ post.file }}" preload="none" controls="controls" type="audio/mp3">
          Your browser doesn't support the <code>audio</code> element.
        </audio>
      {% endif %}
      <a href="{{ post.url }}" class="button-invert">Mehr lesen</a>
    </div>


  {% if post.soundcloud %}
  {{ post.soundcloud }}
  {% endif %}
</span>
