// Tile Design Specifics

// Tiles Design
.content-wrapper
  max-width: $content-wrapper
  margin: 0 auto
  @media (min-width: 767px)
    position: relative
    top: 1.6em

.hero-unit
  background-image: url(/images/hero-header.jpg)
  background-position: center, center
  background-size: cover
  height: 26em
  font-family: $secondary-font
  color: $white
  h1
    color: $white
    font-size: 3em
    text-align: center
  p
    text-align: center
    font-style: italic

.banner
  background-color: #efefef
  height: 4em

.boxes, article
  padding: 1.5em
  background-color: white
  box-shadow: 0px 0px 1px #a0a0a0
  box-sizing: content-box
  font-family: $secondary-font
  height: auto
  @media (min-width: 80em)
    margin: 1em .5em 1em .5em
  p
    margin: 1em 0 1em 0
    font-weight: 400

.row
  margin: 0 auto
  height: 100%
  width: 100%
  vertical-align: top
  display: inline-block
  box-sizing: border-box

.full
  width: 100%
  @media (min-width: 61em)
    max-width: 60em

.half
  width: 100%
  @media (min-width: 61em)
    max-width: 30em

.one-third
  width: 100%
  @media (min-width: 61em)
    max-width: 20em
    display: inline-block
    float: right

.two-third
  width: 100%
  @media (min-width: 61em)
    max-width: 60em
    display: inline-block
    float: left

.three-third
  width: 100%
  @media (min-width: 61em)
    max-width: 60em

// Startpage Design

// Hide first child in list of posts
div#recent-posts article:first-child
  display: none !important

// Hide Cover from mobile Player
.audio-player .coverart
  display: none
  @media (min-width: 480px)
    display: inline-block

// Read more
.read-more
  font-family: $primary-font
  color: $custom-color
  font-weight: 700
  margin-top: .6em
  display: inline-block
  float: right

a.read-more:hover
  border-bottom: 0px


// Recent posts

#recent-posts
  h3
    font-size: 1em
    padding: 0
  hr
    padding: 0
    margin: 0

h2#recent
  margin-bottom: 1em

.recent-post-list
  display: inline-block
  width: 100%
  h3
    padding: 0 0 .5em 0
  @media (min-width: 600px)
    .left
      float: left
    .right
      float: right
    h3
      padding: 0

// sidebar
#interact
  background-color: rgba(255,255,255,0.9)
  box-shadow: none
  p
    font-size: .8rem

#author
  display: inline-block
  img#profile
    border-radius: 100%
    max-width: 4em
    float: left
  p
    margin-top: 0
    font-style: italic
    margin-left: 6em
    max-width: 16em

img#sidebar-cover
  @media (min-width: 30em)
    width: auto
    max-width: 250px
    height: auto
    float: left
    margin-right: 2em
  @media (min-width: 61em)
    float: none
    margin-right: none
    margin-bottom: 1em
    width: 100%

#donate
  .donate-item
    display: inline-block
  #donate-wrapper
    text-align: center
    form
      max-width: 130px
      input[type="image"]
        max-width: 100%
        width: auto
  img#patreon
    max-width: 160px
    @media (max-width: 61em)
      display: inline-block


#subscribe
  text-align: center

#social-icons
  text-align: center
