<!-- Date and Author -->
<span id="date">
  <i class="ico-time"></i>
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}M&auml;rz
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
  {% endcase %}
  {{ page.date | date: "%Y" }}
  &nbsp;
  <i class="ico-edit"></i>
  {{ site.author }}
  <span id="tags">
    {% for tag in page.tags %}
      <a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
    {% endfor %}
  </span>

  <div class="social-bar">
    <!-- Facebook -->
      <a id="facebook" target="blank" href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}"><i class="ico-facebook-plain"></i> Teilen</a>
    <!-- Twitter -->
      <a id="twitter" target="blank" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"><i class="ico-twitter-plain"></i> Teilen</a>
  </div>

</span>
