<div class="boxes row two-third">

  {% include post/meta-data.html %}

  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {% include post/social-bar.html %}

  {% if page.file %}
    <div class="audio-player">
      <audio preload="metadata">
        <source src="{{ page.file_itunes }}" type="audio/mp4">
        <source src="{{ page.file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  {% endif %}

  <article>
    {{ content }}
  </article>

  <!-- Comments -->

  <div id="comments">
        <div id="disqus_thread">
        {% include post/disqus_comments.html %}
        </div>
  </div>

  <hr>

</div>
