<article>

  <header>
    <h2>{{ page.title }}</h2>
  </header>

  {% include post/meta-data.html %}

  {% if page.file %}
    <div class="audio-player">
      <audio preload="none">
        <source src="{{ page.file_itunes }}" type="audio/mp4">
        <source src="{{ page.file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  {% endif %}

    {{ content }}

  <!-- Comments -->

  <div id="comments">
        <div id="disqus_thread">
        {% include post/disqus_comments.html %}
        </div>
  </div>

  <div class="clear"></div>
</article>
