<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="logo">
      <a href="{{ site.url }}">
        <picture>
          <source srcset="/images/full-logo.png, /images/full-logo-2x.png 2x" media="(min-width: 600px)">
          <img src="/images/full-logo.png" alt="aethermonolog Podcast Logo">
        </picture>
      </a>
    </div>

    <section>

      {{ content }}

      <hr>

      <!-- Footer -->
      <footer>
          <!-- iTunes -->
          <a href="#" class="itunes">
            <picture>
              <source srcset="/images/available-on-itunes.jpg, /images/available-on-itunes-2x.jpg 2x">
              <img src="/images/available-on-itunes.jpg" alt="aethermonolog auf iTunes anhören und abonieren">
            </picture>
          </a>
        <!-- Facebook -->
        <div class="fb-like" data-href="http://aethermonolog.de" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        <!-- Twitter -->
        <a href="https://twitter.com/dyscribe" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true">Folgen</a>
        <!-- Flattr -->
        <a href="https://flattr.com/submit/auto?user_id=dyscribe&url={{ post.url }}&title={{ site.title }}">
          <img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr aethermonolog" />
        </a>
      </footer>

    </section>
    {% include scripts.html %}
  </body>
</html>
