<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <div class="logo">
      <a href="{{ site.url }}">
        <picture>
          <source srcset="/images/full-logo.png, /images/full-logo-2x.png 2x" media="(min-width: 600px)" class="lazyload">
          <img data-src="/images/full-logo.png" class="lazyload" alt="Der Aethermonolog Podcast | aethermonolog.de" />
        </picture>
      </a>
    </div>

    <section id="about">

      <article>
        {{ content }}
      </article>

    </section>
    {% include scripts.html %}
  </body>
</html>
