<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include search.html %}

    <div class="hero-unit">
    {% include navigation.html %}
      <div class="content-wrapper">
        <h1>Aethermonolog Musik Podcast</h1>
        <p>Der wöchentliche Podcast über Musikproduktion und Songwriting von und mit Kai Birkenfeld</p>
      </div>
    </div>

    <div class="banner">

    </div>

    <div class="content-wrapper">

      <div class="row">

        <div class="two-third">

          {% include tiles/first-post.html %}

        </div>

        <div class="one-third">

          <div class="boxes" id="interact">

          {% include tiles/sidebar.html %}

          </div>

        </div>

      </div>

    </div>

    {% include scripts.html %}
  </body>
</html>
