<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include search.html %}

    {% include modules/hero-unit.html %}

    {% include modules/banner.html %}

    <div class="content-wrapper">

      <div class="row">

        <div class="two-third">

          {{ content }}

        </div>

        <div class="one-third">

          <div class="boxes" id="subscribe">

          {% include modules/subscribe.html %}

          </div>

          <div class="boxes" id="interact">

          {% include tiles/sidebar.html %}

          </div>

        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
