<!DOCTYPE html>
<html>

  {% include post-head.html %}

  <body>

    {% include navigation.html %}

    <section>

      <header>
        <h1>{{ page.title }}</h1>
      </header>

      {% include page-meta-data.html %}

      <article>
        {{ content }}
      </article>

      {% if page.file %}
        {% include onpage-player.html %}
      {% endif %}

      <!-- Comments -->

      <div id="comments">
            <div id="disqus_thread">
            {% include disqus_comments.html %}
            </div><!-- /#disqus_thread -->
      </div>

      <hr>

      {% include social-block.html %}

      {% include footer.html %}

    </section>
    {% include scripts.html %}
  </body>
</html>
