---
layout: article
---
<header>
  <h1>{{ page.title }}</h1>
</header>

<div class="social-article">
  <!-- Facebook -->
    <div class="fb-like" data-href="http://aethermonolog.de" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
  <!-- Twitter -->
    <a href="https://twitter.com/dyscribe" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true">Folgen</a>
  <!-- Flattr -->
    <a href="https://flattr.com/submit/auto?user_id=dyscribe&url={{ post.url }}&title={{ site.title }}">
      <img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr aethermonolog" />
    </a>
</div>

<article>
  {{ content }}
</article>

{% if page.file %}
<audio src="{{ page.file }}" preload="auto" controls="controls" type="audio/mp3">
  Your browser doesn't support the <code>audio</code> element.
</audio>

<a href="{{ page.file }}" class="button">Download</a>
{% endif %}

{% if page.soundcloud %}
{{ page.soundcloud }}
{% endif %}

<!-- Comments -->

<h2 class="clear">Kommentiere diese Episode:</h2>

<div id="comments">
      <div id="disqus_thread">
      {% include disqus_comments.html %}
      </div><!-- /#disqus_thread -->
</div>

<hr>
