<!-- ABOUT ME MODULE -->

<div id="about">
  <img src="/images/sidebar-cover.jpg" id="sidebar-cover" alt="Aethermonolog Podcast Cover Bild"></img>

  <h4>Über den Aethermonolog</h4>

  <p>Der Aethermonolog ist ein wöchentlicher Podcast über Songwriting und Musik machen. Kreativ sein, Lernen, Teilen, besser werden - darum geht es hier.</p>
  <div id="author">
    <h5>Über mich</h5>
    <img src="/images/profile-square.jpg" id="profile"></img>
    <p>
      <strong>Kai Birkenfeld</strong><br/>
      #Hamburg<br/>
      <a href="{{ site.url }}/kontakt/" title="schicke eine Nachricht" id="ask-me"><i class="ico-comment"></i> Kontakt</a>
    </p>
  </div>
</div>

<br />
<hr>
