<!-- LIST ALL PODCAST EPISODES MODULE -->

  {% for post in site.categories.podcast %}

    <!-- Startpage single article view -->

  {% include post-meta-data.html %}

  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
  </h2>

    {% if post.file %}
      <div class="audio-player">
        <audio preload="metadata">
          <source src="{{ post.file_itunes }}" type="audio/mp4">
          <source src="{{ post.file }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    {% endif %}

    <br />

    {{ post.content | truncatewords: 30 }}

    </span>

    <div id="article-interaction">
        <div class="comment-count">
          <i class="ico-comment"></i><a rel="nofollow" href="{{ post.url }}#disqus_thread">Lädt...</a>
        </div>

        <a href="{{ post.url }}" class="read-more">Zum Podcast &raquo;</a>
    </div>

  <hr>

{% endfor %}
