<!-- LIST ALL PODCAST EPISODES MODULE -->

{% for post in site.categories.podcast limit:20 %}

<!-- Podcast Episode -->
<article>
  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
  </h2>

  {% include post-meta-data.html %}

    {% if post.file %}
      <div class="audio-player">
        <audio preload="none">
          <source src="{{ post.file_itunes }}" type="audio/mp4">
          <source src="{{ post.file }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <div class="player-title">{{ post.title | truncate: 70 }}</div>
      </div>
    {% endif %}

    {{ post.content | truncatewords: 30 }}

    <div id="article-interaction">
        <div class="comment-count">
          <i class="ico-comment"></i><a rel="nofollow" href="{{ post.url }}#disqus_thread"> Kommentare...</a>
        </div>

        <a href="{{ post.url }}" class="read-more">Zum Podcast &raquo;</a>
    </div>

</article>

{% endfor %}
