<div class="banner">
  <div class="content-wrapper">

    <a target="blank" class="review-icon" href="http://www.podcast.de/podcast/616959/">
      <img class="lazyload" data-srcset="/images/podcast-de-rating.gif 1x, /images/podcast-de-rating-2x.gif 2x" alt="Aethermonolog auf Podcast.de" />
    </a>
    <a target="blank" class="review-icon" href="http://itunes.apple.com/de/podcast/aethermonolog.de/id1067599238">
      <img class="lazyload" data-srcset="/images/itunes-rating.gif 1x, /images/itunes-rating-2x.gif 2x" alt="Aethermonolog auf iTunes" />
    </a>

    <span class="reviews">Top Bewertungen auf iTunes und Podcast.de (stand Juni 2017)</span>

  </div>
</div>
