<div class="hero-unit" {% if page.image %}style="background-image: url({{ page.image }})"{% else %}style="background-image: url(/images/hero-header-default.jpg)"{% endif %}>
{% include navigation.html %}
  <div class="content-wrapper">
    {% if page.claim %}<h1 id="claim">{{ page.claim }}</h1>{% elsif page.claim == false%} &nbsp {% else %}<h1 id="claim">{{ page.title | truncate: 56 }}</h1>{% endif %}
    {% if page.subclaim %}<p id="subclaim">{{ page.subclaim }}</p>{% else %}<style>h1#claim{margin-top:1em;}@media(min-width:767px){h1#claim{margin-top:2em;}}</style>{% endif %}
    {% if page.button == true %}
      <p><a href="{% for post in site.categories.podcast limit:1 %}{{ post.url }}{% endfor %}" class="button-red">Jetzt anhören! <i class="ico-volume-low"></i></a></p>
    {% endif %}
  </div>
  {% if page.credit %}<span id="image-credit">Foto: {{ page.credit }}</span>{% endif %}
</div>
