<!-- FOLLOW ICONS MODULE -->

<div class="social-icons" id="social-icons">
  <!-- Twitter -->
  {% if site.owner.twitter %}<a href="//twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name }} on Twitter" target="_blank" id="twitter"><i class="ico-twitter-round"></i></a>{% endif %}
  <!-- Facebook -->
  {% if site.owner.facebook %}<a href="//facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name }} on Facebook" target="_blank" id="facebook"><i class="ico-facebook-round"></i></a>{% endif %}
  <!-- Google Plus -->
  {% if site.owner.spotify %}<a href="https://play.spotify.com/artist/{{ site.owner.spotify }}" rel="publisher" target="_blank" id="spotify"><i class="ico-spotify-round"></i></a>{% endif %}
  <!-- Google Plus -->
  {% if site.owner.google.plus %}<a href="https://plus.google.com/{{ site.owner.google.plus }}" rel="publisher" target="_blank" id="google"><i class="ico-google-round"></i></a>{% endif %}
  <!-- Soundcloud -->
  {% if site.owner.soundcloud %}<a href="//soundcloud.com/{{ site.owner.soundcloud }}" title="{{ site.owner.name }} on Soundcloud" target="_blank" id="soundcloud"><i class="ico-soundcloud-round"></i></a>{% endif %}
  <!-- GitHub -->
  {% if site.owner.youtube %}<a href="//youtube.com/{{ site.owner.youtube }}" title="{{ site.owner.name }} on YouTube" target="_blank" id="youtube"><i class="ico-youtube-round"></i></a>{% endif %}
  <!-- RSS -->
  <a target="blank" href="https://feedpress.me/aethermonolog" title="Atom/RSS feed" id="rss"><i class="ico-rss-round"></i></a>
</div>

<br />
