<!-- SUBSCRIBE MODULE -->

<img class="lazyload" data-src="/images/sidebar-cover.jpg" alt="Aethermonolog Podcast abonnieren" />

<div class="subscribe-button">
  <script>window.podcastData={"title":"Aethermonolog Podcast","subtitle":"","description":"","cover":"https://aethermonolog.de/images/sidebar-cover.jpg","feeds":[{"type":"audio","format":"mp3","url":"https://aethermonolog.de/podcast.rss"}]}</script>
  <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de" data-size="medium" data-json-data="podcastData" data-color="#fff" data-format="rectangle" data-style="frameless"></script><noscript><a href="https://aethermonolog.de/podcast.rss">Subscribe to feed</a></noscript>
</div>
