<!-- SUBSCRIBE MODULE -->

<a target="blank" href="http://itunes.apple.com/de/podcast/aethermonolog.de/id1067599238" class="subscribe" id="itunes">
  <picture>
    <source srcset="/images/available-on-itunes.jpg, /images/available-on-itunes-2x.jpg 2x">
    <img src="/images/available-on-itunes.jpg" alt="aethermonolog auf iTunes anhören und abonieren">
  </picture>
</a>
<!-- Android -->
<a target="blank" href="http://feedpress.me/aethermonolog" class="subscribe" id="android">
  <picture>
    <source srcset="/images/available-on-android.jpg, /images/available-on-android-2x.jpg 2x">
    <img src="/images/available-on-android.jpg" alt="aethermonolog für Android anhören und abonieren">
  </picture>
</a>

<hr>
