<!-- SUPPORT MODULE -->

<div class="donate" id="donate">
  <p>
    Du kannst mich und den Podcast durch eine Spende bei <a href="https://www.patreon.com/aethermonolog">bei Patreon unterstützen</a>. Es stehen verschiedene Dankeschöns zur Auswahl, wie zusätzliche Podcasts mit Blicken hinter die Kulissen oder kostenlose Downloads für neue Songs oder Alben. <a target="blank" href="https://www.patreon.com/aethermonolog">Mehr dazu...</a>
  </p>

<div id="donate-wrapper">

  <a target="blank" href="https://www.patreon.com/klartexter">
    <picture>
      <source srcset="/images/patreon.jpg, /images/patreon-2x.jpg 2x">
      <img src="/images/patreon.jpg" alt="aethermonolog auf Patreon unterstützen">
    </picture>
  </a>
</div>

</div>
