<!-- SUPPORT MODULE -->

<div class="donate" id="donate">
  <p>
    Durch eine Spende via <a target="_blank" href="https://www.paypal.me/aethermonolog">PayPal</a>, <a target="_blank" href="https://flattr.com/submit/auto?uid=dyscribe&url=http%3A%2F%2Faethermonolog.de">Flattr</a>, oder einen Einkauf bei <a target="_blank" href="http://www.thomann.de/partner_redirect.html?partner_id=39958">Thomann (über diesen Link)</a> helft ihr mir den Podcast regelmäßig, kosten- und werbefrei anzubieten.
  </p>

<div id="donate-wrapper">
  <!-- PayPal Button-->
  <div class="donate-item" id="paypal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WDBJG3N6ZFA5C">
      <!--<input type="image" src="/images/donate.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">-->
      <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
      <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

  <!-- Flattr Button -->
  <div class="donate-item" id="flattr">
    <a class="FlattrButton" href="{{ site.url }}{{ page.url }}" title="{{ page.title }}" lang="de_DE" button="compact" category="audio" uid="dyscribe"></a>
  </div>

</div>

</div>
